
@font-face {
    font-family: 'Neo Sans Pro Regular';
    src: url('NeoSansPro-Regular.eot');
    src: url('NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('NeoSansPro-Regular.woff') format('woff'),
    url('NeoSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    html, body{ 
    height: 100%; 
    box-sizing: border-box;
    font-size:1.3vw;
    font-style: italic;
    }
    #scale_plus,#scale_minus,#setka,#full_screen,#musor{
        background: #397dbf;
        text-align: center;
        color:#fff;
        border-radius: 5px;
        cursor:pointer;
        
    }
    #setka,#full_screen{
        margin-left: 5px;
        padding:0 2px 0 2px  ;
    }
    #scale_minus{
      margin-left: 5px;
        
    }
    #scale_plus,#scale_minus{
        padding:0 2px 0 2px  ;
    }
    #ssss{
        margin-left: 30px;
        margin-right: 5px;
    }
    #ssss,#cccc{
        position: relative;
        top:4px;
        padding:7px;
        margin-left: 30px;
        margin-right: 5px;
        border-radius: 5px;
        background: #397dbf;
        color:#fff;
        cursor: pointer;
    }
    #clear{
    }
    a{
        color:#fff;
    }
    #ssss{
        line-height: 10px;
    }
    #scale_plus,#setka{
        float:right;
    }
    #summ{
        padding-right: 5px;
        border-right: 1px solid #3949bf;
    }
    #area{
        padding-left: 10px;
    }
    #sell,#clear{
        margin-right: 5px;
        font-size:0.8vw;
    }
    #elements div{
        
        line-height:25px;
    }
  
    #object__changer{
        z-index:1000;
        display:block;
        visibility: hidden;
        position: absolute;
        text-align: center;
        background:white;
        border-radius: 10px;
        border:2px solid #b6e0f6;
        padding:2px;
        left:200px;
        top:200px;
    }
    .block{
        display:block;
    }
    .button:hover{
        transition:1s;
        background:#3949bf;
       
    }
    #Change_object_color:hover .pod_menu{
        visibility: visible;
    }
    .menu_object{
        margin-top: 10px;
        font-size: 14px;
        background: #397dbf;
        color:#fff;
        border-radius:5px;
        padding: 6px;
        font-style: italic;
    }
  
        
    body {
    margin:0;
    padding:0;
    background:#b6e0f6;
    font-family: 'Neo Sans Pro Regular';}
    .pod_menu{
        display: flex;
        margin:0;
        padding:5px 5px 5px 5px;
        background:#fff;
        border:3px solid #b6e0f6;
        position:absolute;
        z-index:2;
        border-radius: 10px;
        left: -11px;
        top:-12px;
        visibility:hidden;
    }
    .pod_menu .colors{display: inline-block}
    .color_el:hover .pod_menu{
        visibility: visible;
    }
  .sub{
      width:160px;
      display: inline-block;
      padding:0;
      height:120px;
      margin-left: 20px;
      
  }
    .colors{
        display: table-cell;
        border:3px solid #b6e0f6;
        width: 26px;
        line-height:24px;
        text-align:center;
        border-radius:50%;
        background:red;
    }
    a{
        text-decoration: none;
    }
/* счетчики */
.shetpont{
   display: inline-block;
   text-align:center;
   position:relative; 
   left:103px;
   border:3px solid #b6e0f6;
   z-index:1;
   background:#fff;
   width: 26px;
   line-height:24px;
   border-radius:50%;
   top:4px;
   font-size:11px;
}
.rotate{
    position:relative;
    width:26px;
    height:24px;
    text-align:center;
    border-radius:50%;
    color:#fff;
    left:105px;
    top:45px;
    background:#fff;
    z-index:990;
    cursor:pointer;
    
}
.color_el{
    text-align:center;
    position:relative; 
    border:3px solid #b6e0f6;
    z-index:1;
    background:#1a92fb;
    color:#1a92fb;
    width: 26px;
    line-height:24px;
    border-radius:50%;
    top: -80px;
    left:103px;
    font-size:11px;
 }
#elements{
    display:grid;
    grid-template-columns: 10% 45% 5% 10%  10% 5% 5%  5% 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#elements div{
    
    margin-left: 2px;;
}
#question{
    color:#fff;
    border-radius: 5px;
    height:100%;
    width:20%;
    text-align: center;
    margin-left: 40%;
    background: #397dbf;
    font-size:1vw;
    padding:6px 9px 6px 9px;
}
.colors:hover{
    border:3px solid #1a92fb; 
}

input:active {outline:none;
border:none;}
#header{
   
    
   
}
/* кнопки */

.border_zoom{
    position: relative;
    top:8px;
    margin-left: 1%;
    padding-left: 15px;
    padding-right: 15px;
    border-left:1px solid #4a76a8;
    border-right:1px solid #4a76a8;
    
}


#main1 {
    position:absolute;
    top:0;
    box-shadow: 0 5px 15px 2px #3d3d3d;
    margin-top: 5%;
    margin-left: 10%;
    background:white;
    width:80%;
    
    height: 720px;
    border-radius:17px;
}
.line{
    display: inline-block; 
}

.button{
    height:30px;
    background: #397dbf;
    color:#fff;
    border: none;
    border-radius:5px;
    padding: 7px;
    font-style: italic;
    
}
#workarea{
    line-height:100%;
}
#main{
    background:#d4effd;
}
p{
    font-weight: bold;
}
input:active{
    border:none;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:52px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    }
    ::-webkit-scrollbar-track:hover {
        background-color:#bfe1fd
        }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#6cf;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
        padding-bottom:20px;
    width: 7px;
    height:7px;
    }
    .object{ 
        top:-50px;
        position:relative;
        width: 120px;
        text-align:center;
       display:inline-block;
       background:#b6e0f6;
       border-radius:10px 0 0px 10px;
       font-weight: bold;
       
       font-size:12px;
       z-index: 0;
    }
    .pod_menu .colors{display: inline-block}
    .t-obj{
        padding-top:10px;
        display: block;
        height:40px;
    }
    #footer input{
        margin:0;
        width:95%;
        height:70%;
        background:#fff;
        border-radius:10px;
    }
    #footer{
        padding-top:1%;
        Background: #397dbf;
        
        border-radius: 0 0 15px 15px;
        
    }
    #footer input:hover{
        transition:0.5s;
        background: #d4effd;
    }
.hell{
    Background: white;
    width:96%;
    position:relative;
    left:2%;
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 20px;
    
   
}
